matrix:
  include:
  - env: sys=debian-stretch dir=components/packaging/deb ftp_dir=deb/debian-stretch bin_dir=components/packaging/deb/debbuild/debian-stretch/
  - env: sys=ubuntu-xenial dir=components/packaging/deb ftp_dir=deb/ubuntu-xenial bin_dir=components/packaging/deb/debbuild/ubuntu-xenial/
  - env: sys=ubuntu-bionic dir=components/packaging/deb ftp_dir=deb/ubuntu-bionic bin_dir=components/packaging/deb/debbuild/ubuntu-bionic/
  - env: sys=centos dir=components/packaging/rpm ftp_dir=rpm bin_dir=components/packaging/rpm/rpmbuild/RPMS/ppc64le/
  
os: linux-ppc64le
sudo: required
services: docker

script:
   - sudo apt install -y lftp
   - git clone https://github.com/docker/docker-ce
   - cd docker-ce && git apply --3way ../patches/*
   - cd $dir
   - make $sys
   - cd ../../../
   - cd $bin_dir
   - lftp -c "open -u $USER,$PASS ftp://oplab9.parqtec.unicamp.br; mirror -R ./ /ppc64el/docker/Containerd/$ftp_dir/"
